span.error{
    color: #e74c3c;
    margin-left: 10px;
}

input.error{
    color: #e74c3c;
    border-color: #e74c3c !important;
    box-shadow: 0px 0px 5px #e74c3c !important;
}
.error{
    color: #e74c3c;
}