.cart-content-header{
    background: none repeat scroll 0 0 #323232;
    padding: 11px 20px;
}

.block-cart-header .cart-content {
    cursor: default;
    display: none;
    min-width: 280px;
    position: absolute;
    right: 0;
    top: 31px;
    width: 100%;
    z-index: 9;
}

.block-cart-header .subtotal .label {
    font-weight: bold;
    padding: 0;
}
.cart-indent .label {
    border-radius: 0;
    color:#777;
    display: inline-block;
    font-size: 100%;
    line-height: normal;
    text-align: left;
    white-space: normal;
    font-weight: bold;
}

.block-cart-header .cart-content .price {
    font-weight: bold;
    float:right;
    color:#777;
}
.mini-products-list img{
    width: 100%;
}

.block-cart-header .cart-content-header, .block-cart-header .actions {
    background: none repeat scroll 0 0 #323232;
}

.block-cart-header .actions {
    overflow: hidden;
    padding: 20px 20px 10px;
}