.commission_item_value {
    width: 60px;
}

.commission_category_from {
    width: 60px;
}

.commission_category_to {
    width: 60px;
}

.commission_category_value {
    width: 60px;
}
.commission_bundle_sub_item_value{
    width: 60px;
}
td.padding-left{
  padding-left:10px;
}
