#pos_login_loading {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    background: #FF8117;
    z-index: 1000
}

#header {
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 8pt;
    line-height: 21px;
    overflow: visible;
    padding: 5px;
}

#footer div {
    float: left;
}