@import url(https://fonts.googleapis.com/css?family=Petrona);
/* DEFINE DEFAULT CSS FOR ELEMENTS */
* {
    outline: none !important;
    -moz-outline: none !important;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
}
a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

form .form_row {
    clear: both;
    margin-bottom: 5px;
    display: block;
    height: 28px;
}

form div.form_row div {
    float: left;
}

form div.form_title {
    height: 28px;
    line-height: 28px;
}

form div.form_input {
    height: 28px;
    line-height: 28px;
}

form div.form_input input,
form div.form_input select {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 3px 0 3px 5px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

form div.form_input button {
    height: 28px;
    line-height: 28px;
}

/* DEFINE CLASSES THAT WILL BE USED FOR ALL VIEW IN SYSTEM */
.clear {
    clear: both !important;
}

.w-auto {
    width: auto !important;
}

.h-auto {
    height: auto !important;
    line-height: normal !important;
}

.h-sm {
    height: 22px !important;
    line-height: 22px !important;
}

.no-padding {
    padding: 0 !important;
}

.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.mgin5 {
    margin: 5px;
}

/* MODIFY JQUERY AUTOCOMPLETE */
.ui-menu .ui-state-focus{
    margin: 0;
    border: none;
    font-weight: normal;
}
/* BOOTSTRAP DIALOG STYLE */
#wf_page_spinner{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}
#wf_page_spinner .fa{
    font-size: 10em;
    color: #000;
    position: absolute;
    left: 45%;
    top: 45%;
    opacity: 0.7;
}

.form-control{
    height: auto;
}

table tr td.title_cell{
    font-weight: bold;
    text-align: right;
}